# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
ControllerRP2040Scorpio/ControllerRP2040Scorpio.kicad_pcb.zip
ControllerRP2040Scorpio/nextpcb/gerber/ControllerRP2040Scorpio-CuBottom.gbr
ControllerRP2040Scorpio/nextpcb/gerber/ControllerRP2040Scorpio-CuTop.gbr
ControllerRP2040Scorpio/nextpcb/gerber/ControllerRP2040Scorpio-EdgeCuts.gbr
ControllerRP2040Scorpio/nextpcb/gerber/ControllerRP2040Scorpio-MaskBottom.gbr
ControllerRP2040Scorpio/nextpcb/gerber/ControllerRP2040Scorpio-MaskTop.gbr
ControllerRP2040Scorpio/nextpcb/gerber/ControllerRP2040Scorpio-NPTH-drl_map.pdf
ControllerRP2040Scorpio/nextpcb/gerber/ControllerRP2040Scorpio-NPTH.drl
ControllerRP2040Scorpio/nextpcb/gerber/ControllerRP2040Scorpio-PasteBottom.gbr
ControllerRP2040Scorpio/nextpcb/gerber/ControllerRP2040Scorpio-PasteTop.gbr
ControllerRP2040Scorpio/nextpcb/gerber/ControllerRP2040Scorpio-PTH-drl_map.pdf
ControllerRP2040Scorpio/nextpcb/gerber/ControllerRP2040Scorpio-PTH.drl
ControllerRP2040Scorpio/nextpcb/gerber/ControllerRP2040Scorpio-SilkBottom.gbr
ControllerRP2040Scorpio/nextpcb/gerber/ControllerRP2040Scorpio-SilkTop.gbr
ControllerRP2040Scorpio/nextpcb/gerber/ControllerRP2040Scorpio-VScore.gbr
ControllerRP2040Scorpio/nextpcb/output_files/GERBER-ControllerRP2040Scorpio.zip
